.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #5277A3;
    padding: 1.2rem 3rem 0.6rem;
}

.header .image-wrapper{
    width: 25%;
}

.header .image-wrapper > img{
    width: 30px;
    height: 30px;
}

.header .wrapper{
    margin-left: 16px;
    width: calc(75% - 16px);
    border-radius: 30px;
    background-color: #2C4A76;
    position: relative;
}

.header .wrapper > input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px ;
    text-align: center;
    padding: 10px;
}

.header .wrapper > input::placeholder{
    color: #607d9f;
}

.header .wrapper > svg{
    fill: #607d9f !important;
    position: absolute;
    top: 7px;
    left: 45%;
}